/* companies */
.companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companies li img {
    width: 100%;
    height: 4.5rem;
}

.companies div {
    height: 1px;
    width: 70px;

    background-color: #F1F1F1;
}