/* default styles */
*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

.container {
    padding-inline: 12rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
}

/* Header section */
.notif {
    width: 100%;
    background-color: #000;

    position: fixed;
    top: 0;
    left: 0;

    color: #fff;

    text-align: center;

    font-size: 0.85rem;

    z-index: 2;
}

.main-header {
    position: fixed;

    left: 0;
    top: 2%;

    display: flex;
    justify-content: space-between;

    padding-block: 2rem;
    padding-inline: 12rem;

    width: 100%;
    background-color: #fff;

    transition: .3s ease;

    -webkit-box-shadow: 0px 1px 35px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 35px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 35px 1px rgba(0,0,0,0.1);

    z-index: 1;
}

.header-logo {
    width: 5.75rem;
    transform: translateX(50px);
}

.main-header nav {
    display: flex;
    align-items: center;

    gap: 2rem;
}

.main-header nav a {
    text-transform: uppercase;
    color: #000;

    font-weight: 400;

    transition: .3s ease;
}

.discount {
    display: flex;
    gap: 2px;
}

.discount span {
    border-radius: 50%;
    padding-inline: 4px;
    color: #fff;
    background: #000;
}

.main-header nav a ion-icon {
    width: 20px;
    height: 20px;
}

.main-header nav a:is(:hover, :focus) {
    opacity: 0.55;
}